img {
  float:left;
}

#carousel {
/*  height:168px;*/
  width:300px;
  overflow:hidden;
  position:relative;

}

#one {
/*  position:absolute;
  display:block;
  top:0px;
  /*bottom:336px;*/
}

#images {
  position:relative;
  width: 1000000px;
}

#two {
/*  position:absolute;
  display:block;
  top:168px;*/
}

#three {
/*  position:absolute;
  display:block;
  top:336px;*/
}

#right {
  top:69px;
  left:270px;
  position:absolute;
  height:30px;
  width:30px;
  border-radius:30px;
  z-index:1;
}

#left{
  top:69px;
  position:absolute;
  height:30px;
  width:30px;
  border-radius:30px;
  z-index:1;
}