#carousel {
  height:168px;
  width:300px;
  overflow:hidden;
  position:relative;
}

.image {
  display:inline-block;
}

#right {
  top:69px;
  left:270px;
  position:absolute;
  height:30px;
  width:30px;
  border-radius:30px;
}

#left{
  top:69px;
  position:absolute;
  height:30px;
  width:30px;
  border-radius:30px;
}