.modal-container{
  position:absolute;
  top:0;
  width:100%;
  background: rgba(0, 0, 0, 0.5);
  height:100%;
  /*display:none;*/
}
.modal-container .modal {
  margin-left:auto;
  margin-right:auto;
  width:30em;
  margin-top: 2em;
  background: #FFF;
  border: 2px solid #B4b4b4;
  border-radius: 1em;
  box-shadow: 10px 6px 0px #CCC;
  padding:2em;
}

.modal-show {
  padding:1em;
  border:1px solid #333;
  background:#CCC;
  text-align: center;
  display:block;
  width: 5em;
  color:white;
  text-decoration:none;
  cursor:pointer;
  margin-left:auto;
  margin-right:auto;
}

/*#modal-show {
  display: none;
}*/

.modal-container {
  display: none;
}

#modal-show:target .modal-container{
  display: block;
}